<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">

	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
			Select * from Cliente;
	</select>
    <resultMap type='Cliente' id='ClienteResult'>
		<id property='documento' column='Documento'/>
		<result property='nombre' column='Nombre'/>
		<result property='telefono' column='Telefono'/>
		<result property='direccion' column='Direccion'/>
		<result property='email' column='Email'/>
		<result property='vetado' column='Vetado'/>
		<collection property='rentados' column='Item rentado' resultMap='/>
	</resultMap>
</mapper>